- if @courses && @courses.count > 0
  - @courses.each do |course|
    = link_to course.title, course_path(course)
    = course.location

- else
  %p В момента няма никакви създадени курсове. Моля използвайте <a href="/admin/">административния интерфейс</a>, за да създадете курс.

%br
%span.notice
  = flash[:notice]

%br

