- if @courses && @courses.count > 0
  %h1
    Курсове, протичащи в момента
  - @courses.each do |course|
    = render partial: 'courses/short_info', locals: { course: course }

- else
  %p В момента няма активни курсове

%br
%span.notice
  = flash[:notice]

%br

