- if @courses && @courses.count > 0
  %h1
    = t '.current_courses'
  - @courses.each do |course|
    = render partial: 'courses/short_info', locals: { course: course }

- else
  %p
    = t '.no_current_courses'
    = link_to t('.courses'), courses_path
