$header-color: white;
$page-color: white;
$bg-color: white;
$notice-color: #ff3333;
$emphasized-color: #cc3300;
$content-width: 960px;
$link-color: #333;
$white: white;
$info-color: #339900;
$error-color: #993300;
$border-color: #F3F3F3;

@mixin content-holder {
  padding: 10px;
  width: $content-width;
  margin: 0 auto 0 auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
}

a {
  color: $link-color;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    color: #939393;

}

#page {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: $page-color;
    min-height: 100%;
    position: relative;
}

img {
    border: none;
}

#header {
    width: 100%;
    background-color: $header-color;

    #header_content {
        @include content-holder;
        position: relative;

        #logo {
          height: 230px;

          img {
            float: left;
          }

          #header_text {
            margin: 50px 0 0 50px;
            float: left;
            font-size: 26pt;
          }
        }
    }

    border-bottom: solid 2px $border-color;
}

#content_wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
    padding-bottom: 75px;
    display: inline-block;
}

#content {
  @include content-holder;

    padding: 10px;
    background-color: $bg-color;
 }

.entry {
    font-size: 16pt;
    padding: 10px 0;

    span.label {
        font-weight: bold;
    }
}

.field {
    display: inline-block;
    vertical-align: top;

    input {
        float: left;
    }

    span.error {
        float: left;
        clear: left;
    }
}

.terms {
  font-size: 11pt;
  font-style:italic;
}

.notice {
  color: $notice-color;
}

.emphasized {
  color: $emphasized-color;
}

.topic {
  text-align: center;
  font-size: 16pt;
}

.title {
  text-align: center;
  margin: 20px;
  font-size: 24pt;
}

.big {
  font-size: 22pt;
  font-weight: bold;
}

.registration {
  p {
    display: inline;
  }
}

.flow_left {
  float: left;
  margin: 10px 10px 10px 0;
}

.container {
  overflow: hidden;

  span {
    font-size: 14pt;
    font-weight: bold;
  }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    font-size: 11px;

    #footer_content {
        @include content-holder;

        #footer_left {
          float: left;
        }

        #footer_right {
          float: right;
        }
    }
}

.info {
  color: $info-color;
}

#page_content {
  border-left: 10px solid #F3F3F3;
  border-right: 10px solid #F3F3F3;

  @include content-holder;

  overflow: hidden;
  min-height: 100%;
  position: relative;
}
