$header-color: white;
$page-color: white;
$bg-color: white;
$notice-color: #ff3333;
$emphasized-color: #cc3300;
$content-width: 960px;
$link-color: #333;
$white: white;
$info-color: #339900;
$error-color: #993300;
$model-error-color: red;
$border-color: #F3F3F3;

@mixin content-holder {
  padding: 10px;
  width: $content-width;
  margin: 0 auto 0 auto;
}

@mixin vertical-gradient($from-color, $to-color) {
  background: $from-color;
  background: -moz-linear-gradient(top, $from-color, $to-color);
  background: -webkit-gradient(linear,
              left top, left bottom, from($from-color), to($to-color));
  filter: progid:DXImageTransform.Microsoft.Gradient(
              StartColorStr=$from-color, EndColorStr=$to-color, GradientType=0);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
}

a {
  color: $link-color;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    color: #939393;

}

#page {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: $page-color;
    min-height: 100%;
    position: relative;

    @include vertical-gradient(#CCC, white);

    #page_content {
      border-left: 10px solid #F3F3F3;
      border-right: 10px solid #F3F3F3;

      @include content-holder;
      padding: 0;

      overflow: hidden;
      min-height: 100%;
      position: relative;
      background-color: white;
    }
}

img {
    border: none;
}

#header {
    width: 100%;
    background-color: $header-color;

    #header_content {
        @include content-holder;
        position: relative;

        #logo {
          height: 230px;

          img {
            float: left;
          }

          #header_text {
            margin: 50px 0 0 50px;
            float: left;
            font-size: 30pt;
          }
        }

        #login {
          float: left;
          position: absolute;
          bottom: 10px;
          right: 30px;
        }
    }

    border-bottom: solid 2px $border-color;
}

#content_wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
    padding-bottom: 75px;
    display: inline-block;
}

#content {
  @include content-holder;

    padding: 10px;
    background-color: $bg-color;
 }

.entry {
    font-size: 16pt;
    padding: 10px 0;

    span.label {
        font-weight: bold;
    }
}

.field {
    display: inline-block;
    vertical-align: top;

    input {
        float: left;
    }

    span.error {
        float: left;
        clear: left;
    }
}

.terms {
  font-size: 11pt;
  font-style:italic;
}

.notice {
  color: $notice-color;
}

.emphasized {
  color: $emphasized-color;
}

.topic {
  text-align: center;
  font-size: 16pt;
}

.title {
  text-align: center;
  margin: 20px;
  font-size: 24pt;
}

.big {
  font-size: 22pt;
  font-weight: bold;
}

.registration {
  p {
    display: inline;
  }
}

.flow_left {
  float: left;
  margin: 10px 10px 10px 0;
}

.container {
  overflow: hidden;

  span {
    font-size: 14pt;
    font-weight: bold;
  }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    font-size: 11px;

    #footer_content {
        @include content-holder;

        #footer_left {
          float: left;
        }

        #footer_right {
          float: right;
        }
    }
}

.info {
  color: $info-color;
}

.error, .error_notification {
  color: $model-error-color;
}

div.inputs {
  width: 900px;

  .input {
    label {
      width: 150px;
      display: inline;
      float: left;
    }

    input {
      width: 250px;
    }

  }
}

.back {
  text-decoration: none;
}

.hint {
  clear: left;
  margin-left: 140px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
